# Ignora la carpeta .vscode
.vscode
header_resp_1.html
header_resp_1.css
formulario.css
formulario.html
index_daiyeuge.html
clima.html
clima.css
api_clima.js
style_clases_bk.css
index_bk.html
styleiniciocuadritostextoeimagen.css
style_index_bk.css
clases_bk.html
style_hamburguesa.css
hamburguesa.html