

/*#############          estilo del menu         ################*/




/*########### estilo del cuerpo de la paginas de consultas #########*/

#encabezado_descripcion {
    
    background-color: rgba(75, 107, 248, 0.509);
    border-radius: 3px;
    text-align: center;
}

/*###### propiedades de los cuador de texto###*/

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(175, 170, 202);
    border:none;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #efd8d8;
    border-radius: 10px;
}
/*####propiedades del mensaje*/
input[type="mensaje"],
textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #efd8d8;
    border-radius: 10px;
}
/*##### propiedades del boton de enviar#####*/
input[type="submit"] {
    padding: 10px;
    background-color: #9c9499;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

input[type="submit"]:hover {
    background-color: #f1be9c;
}



.form_and_pic{
    display: flex;   /* Esta propiedad define al div como contenedor flex*/
    flex-direction: row;
    /* probar row-reverse */
    background-color: rgb(171, 200, 231);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

    .contenido_form{
        
        width: 50%;
                        
    }

    .contenido_imagen{
        position: relative;
        
    }
    




#pie_consultas {
    
    background-color: rgba(75, 107, 248, 0.509);
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}


