
*, *::before, *::after {
    box-sizing: border-box;
}
body{font-family: Arial, Helvetica, sans-serif;
margin:0;
display: grid;
font-size: 14px;
}
main{display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display:-o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color:blueviolet;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

footer{display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display:-o-flex;
    display: flex;
    flex-wrap:  row wrap;
    padding: 50px;
    color:violet;
    background-color: beige;

}
.footer > *{ 
    flex: 1 100%;
}
.area-izquierda{
    margin-right:-12em ;
}

.footer-bottom img {
    width: 15%;
}
h2{font-size: 17px;
font-weight: 600;
text-transform: uppercase;
color: darkorange;
letter-spacing: 3px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.area-derecha { display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display:-o-flex;
    display: flex;
    flex-flow: row wrap;

}



}